<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>You have received a message from the site's contact form.</p>    
        <p><strong>From:</strong><%= "#{ @name }" %></p>
        <p><strong>From:</strong><%= "#{ @email}" %></p>
        <br>
        <p><%= @body %></p>
    </body>
</html>